<!-- =========================================
     MODAL
========================================= -->

<div id="modal" class="modal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <!-- =====================================
         MODAL HEADER
    ====================================== -->

    <div class="modal-header">
      <div class="modal-header-content">
        <div class="modal-icon">
          <i data-lucide="layout-panel-top"></i>
        </div>

        <div>
          <h2 id="modalTitle">Modal</h2>

          <p id="modalSubtitle">Database Warga</p>
        </div>
      </div>

      <button
        id="modalClose"
        class="modal-close"
        type="button"
        aria-label="Tutup"
      >
        <i data-lucide="x"></i>
      </button>
    </div>

    <!-- =====================================
         MODAL BODY
    ====================================== -->

    <div id="modalBody" class="modal-body"></div>

    <!-- =====================================
         MODAL FOOTER
    ====================================== -->

    <div id="modalFooter" class="modal-footer"></div>
  </div>
</div>
